@charset "utf-8";
/* CSS Document */
body, html {
  height: 100%;
  min-height:100%;
  font-family:Tahoma, Geneva, sans-serif;
  font-weight:normal;
}
h1{
	font-size:250%;
	font-weight: lighter;
}

h2{
	font-weight: lighter;
}

h3{
	font-weight: lighter;
}
.global-header{
	color: #FFF !important;
    line-height: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	width: 100%;
	left: 0px;
}

#logo{
	position: absolute;
	left: 12px;
	top: 12px;
	height: 50px;
}

#TabMenu {
    float:left;
	position:absolute;
	left: 175px;
	height:25px;
	top: 12px;
	text-align:center;
	/*list-style : outside none none; */
	font-size: 18px;
	list-style:none;
	margin:0;
	padding:0;
}

ul{
	list-style-type:none;
}

ul li .Tab {
	float:left !important;
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-decoration:none;
	line-height:normal;
}
ul li .Tab:hover {
   background-color:#00002E;
   border-radius: 10px;
}


#body-content{
	margin-top: 70px;
	width: 100%;
	height: 100%;

}
#content {
	-webkit-column-count: 1;
    -webkit-column-gap: 50px; /* Saf3, Chrome*/
    -moz-column-count: 1;   
    -moz-column-gap: 50px; /* FF3.5+ */
    column-count: 1;        
    column-gap: 50px;
	margin-left: 16px;
	margin-right: 40px;
	width: 200px;
	float: left;
	height: 100%;
}

#middle {
	height: 100%;
	-webkit-column-count: 1;
    -webkit-column-gap: 50px; /* Saf3, Chrome*/
    -moz-column-count: 1;   
    -moz-column-gap: 50px; /* FF3.5+ */
    column-count: 1;        
    column-gap: 50px;
	margin-right: 40px;
	width: 535px; 
	float:left;
	margin: 0px 5px 5px 5px;
}

#sidebar{
	height: 100%;
	background-color:#F2F2F2;
	-webkit-column-count: 1;
    -moz-column-count: 1;   
    column-count: 1;        
	width: 495px;
	margin-left: 20px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	float: right;
}

#body-content .nametext{
	color:#297ACC;
}

a.tooltip {
    outline: none;
    text-decoration: none;
    position: relative;
    color:#297ACC;
}

/*a.tooltip strong {
    line-height: 30px;
} */

a.tooltip > span {
    width: 90px;
    height : 110px;
    padding: 10px 20px;
    margin-top: 0;
    margin-left: -120px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: absolute;
    font-size: 12px;
    font-style: normal;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #999;
    -webkit-transition-property: opacity, margin-top, visibility, margin-left;
    -webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-property: opacity, margin-top, visibility, margin-left;
    transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
    transition-timing-function: 
        ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}

/*a.tooltip > span:hover,*/
a.tooltip:hover > span {
    opacity: 1;
    text-decoration: none;
    visibility: visible;
    overflow: visible;
    margin-top: 50px;
    display: inline;
    margin-left: -90px;
}

a.tooltip span b {
    width: 15px;
    height: 15px;
    margin-left: 40px;
    margin-top: -19px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: inset -1px 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -o-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    display: none\0/;
    *display: none;
}    

a.tooltip > span {
	color: #000000; 
	background: #FFFFFF;
	background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background: linear-gradient(top, #FFFFFF, #FFFFFF);	    
	border: 5px solid #AAAAAA;	     
}    
	  
a.tooltip span b {
	background: #FFFFFF;
	border-top: 2px solid #BBBBBB;
	border-right: 2px solid #BBBBBB;
}


a.nametext{
	border: 1px #AAAAAA;
	border-radius: 5px;
}

.DisplayPic{
	top: 50%;
    left: 50%;
    margin-right: -50%;	
}

ul#TabMenu li {
	display:block;
  float: left;
}

li#ReportProblem.Tab{
float:right !important;
margin-right:5%;
}