@charset "utf-8";
/* CSS Document */
body, html {
  height: 100%;
  min-height:100%;
}
.global-header{
	color: #FFF !important;
    line-height: 100px;
	height: 50px;
	position: fixed;
	top: 0px;
	width: 100%;
	left: 0px;
}

#logo{
	position: absolute;
	left: 12px;
	top: 12px;
	height: 50px;
}

#TabMenu {
	clear:left;
	float:left;
	position:absolute;
	left: 175px;
	height:25px;
	left:350px;
	top: 12px;
	text-align:left;
	list-style : outside none none;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	list-style:none;
	margin:0;
	padding:0;
}
#tab-menu {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   height:25px;
   position:relative;
   right:50%;
}
ul li a {
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-decoration:none;
	line-height:normal;
}
ul li a:hover {
   background-color:#00002E;
   border-radius: 10px;
}

ul #ReportProblem{
	float: right !important;
	margin-right: 25px;
}

#body-content{
	margin-top: 70px;
	width: 100%;
	height: 100%;

}
#content {
	-webkit-column-count: 1;
    -webkit-column-gap: 50px; /* Saf3, Chrome*/
    -moz-column-count: 1;   
    -moz-column-gap: 50px; /* FF3.5+ */
    column-count: 1;        
    column-gap: 50px;
	margin-left: 16px;
	margin-right: 40px;
	width: 200px;
	float: left;
	height: 100%;
	/*padding: 5px 15px; */
}

#middle {
	height: 100%;
	-webkit-column-count: 1;
    -webkit-column-gap: 50px; /* Saf3, Chrome*/
    -moz-column-count: 1;   
    -moz-column-gap: 50px; /* FF3.5+ */
    column-count: 1;        
    column-gap: 50px;
	margin-right: 40px;
	width: 535px; 
	float:left;
	/*padding: 5px 15px; */
	margin: 0px 5px 5px 5px;
}

#sidebar {
	height: 100%;
	background-color:#F2F2F2;
	-webkit-column-count: 1;
    -moz-column-count: 1;   
   /* -moz-column-gap: 3%;  FF3.5+ */
    column-count: 1;        
   /* column-gap: 20px; */
	width: 495px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	/*padding: 5px 15px; */
	float: right;
}

#sidebar h2{
	margin-left: 20px;
	line-height: 1px;
}

#sidebar a{
	margin-left: 20px;	
}
#body-content a{
	color:#297ACC;
}

a.tooltip{
	outline: medium none;
	outline-width: medium;
	outline-style: none;
	outline-color: -moz-use-text-color;
	
	text-decoration: none;
	text-decoration-color: -moz-use-text-color;
	text-decoration-line: none;
	text-decoration-style: solid;
	
	border-bottom: 1px dotted #00F;
    border-bottom-color: #00F;
	position: relative;
	
}

a.tooltip: hover{
visibility: visible;
}

.tooltip{
	color: #069;
}

*, *::before, *::after{
	box-sizing: border-box;
}

